p{
background-color: ;
color:rgb(202, 38, 38);
text-align: justify;

}
h2{
color: black;
text-align: center  ;
background-color:aquamarine ;

}
h1{
color: brown;
background-color:goldenrod ;
text-align: center;
}
main{
width:90%  ;
margin:0 auto;

}
header{
background-color: brown;
color: white;
font-size: xx-large;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
img{
width: 400px; ;


}